USE [SnakeGameDB]
GO
/****** Object:  Table [dbo].[GameResults]    Script Date: 21.04.2026 23:49:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerName] [nvarchar](100) NULL,
	[Score] [int] NULL,
	[GameDuration] [int] NULL,
	[GameDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameResults] ADD  DEFAULT (getdate()) FOR [GameDate]
GO
