USE [MusicPlayerDB]
GO
/****** Object:  Table [dbo].[MusicTracks]    Script Date: 19.04.2026 23:50:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MusicTracks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[FileData] [varbinary](max) NULL,
	[Title] [nvarchar](200) NULL,
	[Artist] [nvarchar](200) NULL,
	[Album] [nvarchar](200) NULL,
	[Duration] [int] NULL,
	[PlayCount] [int] NULL,
	[AddedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[MusicTracks] ADD  DEFAULT ((0)) FOR [PlayCount]
GO
ALTER TABLE [dbo].[MusicTracks] ADD  DEFAULT (getdate()) FOR [AddedDate]
GO
