USE [ConverterDB]
GO
/****** Object:  Table [dbo].[ConversionHistory]    Script Date: 21.04.2026 23:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversionHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InputNumber] [nvarchar](100) NOT NULL,
	[InputBase] [int] NOT NULL,
	[OutputNumber] [nvarchar](100) NOT NULL,
	[OutputBase] [int] NOT NULL,
	[ConversionDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConversionHistory] ADD  DEFAULT (getdate()) FOR [ConversionDate]
GO
