USE [AlarmClockDB]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 19.04.2026 23:22:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alarms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AlarmTime] [time](7) NOT NULL,
	[IsEnabled] [bit] NOT NULL,
	[Label] [nvarchar](100) NULL,
	[SnoozeMinutes] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT ((1)) FOR [IsEnabled]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT ((5)) FOR [SnoozeMinutes]
GO
ALTER TABLE [dbo].[Alarms] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
